
.spinner{
        height: 90px;
        width: 90px;
        margin:40vh auto;
        margin-top: -7vh;
        border-top: 3px solid rgb(186, 125, 243);
        border-left:3px dotted rgb(186, 125, 243);
        border-right:3px solid rgb(186, 125, 243);
        border-radius: 50%;
        animation: rotate 1s ease-in 0s infinite ;
}

.loading{
    text-align: center;
    margin: 45vh  auto;
    margin-bottom: 0vh;
    font-size: 0.91rem;
}



@keyframes rotate {
    form{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}